# Ignore node_modules
node_modules/

# Ignore src directory (if you're publishing the built files from dist)
src/

# Ignore build scripts
build.js

# Ignore TypeScript config files
tsconfig.json

# Ignore test files and config
tests/
jest.config.js

# Ignore log files
*.log

# Ignore package-lock.json (optional)
package-lock.json